[project]
	description = Basic template for an iPhone porfolio app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amybear
[access "refs/for/refs/*"]
	read = group user/amybear
	push = group user/amybear
	label-Code-Review = -2..+2 group user/amybear
	label-Verified = -1..+1 group user/amybear
	rebase = group user/amybear
	removeReviewer = group user/amybear
	submit = group user/amybear
[access "refs/heads/*"]
	read = group user/amybear
	create = group user/amybear
	push = +force group user/amybear
	pushMerge = group user/amybear
[access "refs/tags/*"]
	push = +force group user/amybear
	pushTag = group user/amybear
	pushSignedTag = group user/amybear
